@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #0d1a30;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 63.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
}

.home {
    height: 100vh;
    background: url('bg1.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

span {
    color: var(--main-color);
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.social-media {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.social-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.social-btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 24px;
    color: #00abf0;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
}

.social-btn a:hover {
    color: #081b29;
}

.social-btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

.social-btn a:hover::before {
    width: 100%;
}

.social-btn a.facebook:hover {
    background: #3b5998; 
}

.social-btn a.twitter:hover {
    background: #1da1f2; 
}

.social-btn a.linkedin:hover {
    background: #0077b5; 
}

.about {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem;
}

.contacts {
    padding: 5rem 10%;
    background: var(--second-bg-color);
    text-align: center;
}

.contacts h2 {
    font-size: 4.5rem;
    margin-bottom: 5rem;
}

.contacts-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.contact-info, .contact-form {
    flex: 1 1 40rem;
    background: var(--bg-color);
    padding: 3rem;
    border-radius: 2rem;
    border: .2rem solid var(--bg-color);
    text-align: left;
    transition: .3s;
}

.contact-info h3, .contact-form h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.contact-info p, .contact-form p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.contact-item i {
    font-size: 2.5rem;
    color: var(--main-color);
    margin-right: 1.5rem;
}

.contact-item span {
    font-size: 1.6rem;
    color: var(--text-color);
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background: var(--second-bg-color);
    border: none;
    color: var(--text-color);
    font-size: 1.6rem;
    transition: .3s;
}

.contact-form input:focus, .contact-form textarea:focus {
    background: var(--bg-color);
}

.contact-form button {
    background: #00abf0;
    color: #081b29;
    padding: 1.5rem 4rem;
    border-radius: 1rem;
    border: 2px solid #00abf0;
    font-size: 1.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.contact-form button:hover {
    background: transparent;
    color: #00abf0;
}

.contact-form button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.contact-form button:hover::before {
    width: 100%;
}
